<div class="row1">
    <div class="container centerbox">
        <div>
            <br>
            <h4 style="color: blue; text-align: center;">Add Ticket</h4>
        </div>
        <div class="col-lg-4 offset-lg-2">
            <form [formGroup]="ticketForm" (submit)=onsubmit()>
                <table>
                    <br>
                    <tr>
                        <td>
                            <label for="title"><b>Title</b></label>
                            <input type="text" name="title" id="title" style="width: 38rem;" formControlName="title"/>
                            <span *ngIf="!ticketForm.get('title').valid && ticketForm.get('title').touched">This field is required</span>
                        </td>
                    </tr><br>
                    <tr>
                        <td>
                            <label for="description"><b>Description</b></label>
                            <textarea name="description" id="description" cols="80" rows="8" formControlName="description"></textarea>
                            <span *ngIf="!ticketForm.get('description').valid && ticketForm.get('description').touched">This field is required</span>
                        </td>
                    </tr>
                    <tr >
                        <td class="text-center">
                            <br>
                            <input type="submit" class="btn btn-primary" value="Create Ticket"/>&nbsp;&nbsp;
                            <input type="button" class="btn btn-info" value="Cancel" (click)="onCancel()"/>
                        </td>
                    </tr>
                </table>
                <br>
            </form>
        </div>
    </div>
</div>