<div class="row1">
    <div class="container">
        <div class="col-lg-12 text-center">
            <br><br>
            <div class="row">
                <div class="col-lg-4 text-center">
                    <div class="card" style="width: 16rem;">
                        <img class="card-img-top" src="./assets/ticket.jpg" alt="Card image cap" style="opacity:0.7;">
                        <div class="card-body">
                          <p class="card-text font-weight-bold">User Tickets</p>
                          <a routerLink="../dashboardadmin/view" class="btn btn-primary font-weight-bold">View</a>
                        </div>
                      </div>
                     
                </div>
                <div class="col-lg-4 text-center" >
                    <div class="card" style="width: 16rem;">
                        <img class="card-img-top" src="./assets/ticket.jpg" alt="Card image cap" style="opacity:0.7;">
                        <div class="card-body">
                          <p class="card-text font-weight-bold">User Information</p>
                          <a routerLink="../dashboardadmin/allusers" class="btn btn-primary font-weight-bold">View</a>
                        </div>
                      </div>                      
                </div>
                <div class="col-lg-4 text-center" >
                  <div class="card" style="width: 16rem;">
                      <img class="card-img-top" src="./assets/ticket.jpg" alt="Card image cap" style="opacity:0.7;">
                      <div class="card-body">
                        <p class="card-text font-weight-bold">Responder Information</p>
                        <a routerLink="../dashboardadmin/allresponders" class="btn btn-primary font-weight-bold">View</a>
                      </div>
                    </div>                      
              </div>
                <br><br><br>         
        </div>
    </div>
</div>

