<div class="row1" style="background-color:antiquewhite;">
    <div><h3 style="text-align: center; color: blue; font-family:serif;"><br>Welcome to Ticketing System</h3></div>
    <div class="container leftcontainer">
        <div class="col-lg-12 text-center" style="margin-top:2rem; margin-bottom: 2rem;">
            <div class="row">
                <div class="col-lg-4 text-center">
                    <div class="card" style="width: 16rem;">
                        <img class="card-img-top" src="./assets/ticket.jpg" alt="Card image cap" style="opacity:0.7;">
                        <div class="card-body">
                          <p class="card-text font-weight-bold">Having issue? Raise a new Ticket!</p>
                          <a routerLink="../dashboard/addticket" class="btn btn-primary font-weight-bold">Create Ticket</a>
                        </div>
                      </div>
                     
                </div>
                <div class="col-lg-4 text-center" >
                    <div class="card" style="width: 16rem;">
                        <img class="card-img-top" src="./assets/ticket.jpg" alt="Card image cap" style="opacity:0.7;">
                        <div class="card-body">
                          <p class="card-text font-weight-bold">To view the status of applied ticket</p>
                          <a routerLink="../dashboard/viewticket" class="btn btn-primary font-weight-bold">View Ticket</a>
                        </div>
                      </div>                      
                </div>
                <div class="col-lg-4 text-center" >
                    <div class="card" style="width: 16rem;">
                        <img class="card-img-top" src="./assets/ticket.jpg" alt="Card image cap" style="opacity:0.7;">
                        <div class="card-body">
                          <p class="card-text font-weight-bold">Search the applied ticket status</p>
                          <a routerLink="../dashboard/searchticket" class="btn btn-primary font-weight-bold">Search Ticket</a>
                        </div>
                      </div>                      
                </div>
                
               
            </div>
        </div>
        <br><br><br><br>
    </div>
</div>