<div class="row1" style="background-color:antiquewhite;">

    <div class="col-lg-12">
        <br>
        <header class="masthead" style="height:450px;  background-image: url('./assets/image.jpg') ">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-10 mx-auto">
                        <div class="site-heading" style="text-align: center;">
                            <br>
                            <h1>Sign in to your Account </h1>

                            <span class="subheading">To Create a Ticket or View Ticket</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container centerbox" style="display: inline;">
                        <div class="col-lg-2 col-md-10 text-center mx-auto" style="align-items: center; margin-top: 5px;">
                            <div class="site-heading">
                                <br>
                                <input class="btn btn-primary" style="font-size: 16px; " type="button" name="Signup"
                                    value="Create An Account" routerLink="../register">
                            </div>
                            
                        </div>
                        <div style="text-align:center; padding-left: 20px;">
                            <br>
                           <a routerLink="../login" style="color:brown; "><b><h5>Already have an account?</h5></b></a>
                        </div>

                    </div>
                    

                </div>
            </div>
        </header>
        <br>
    </div>

</div>