<div class="row1">
    <div class="container">
        <div class="col-lg-12">
            <form [formGroup]="updateTicketForm" (submit)=onsubmit()>
                <table>
                    <br>
                    <tr>
                        <td>
                            <label for="title">Title</label>
                        </td>
                        <td>
                            <input type="text" name="Title" style="width: 40rem;" id="title" value={{title}} formControlName="title"/>
                        </td>
                    </tr><br>
                    <tr>
                        <td>
                            <label for="description">Description</label>
                        </td>
                        <td>
                            <textarea name="description" id="description" cols="85" rows="8" value={{description}} formControlName="description"></textarea>
                        </td>
                    </tr>
                    <tr ><td></td>
                        <td class="text-left">
                            <br>
                            <input type="submit" class="btn btn-primary" value="Update Ticket"/>&nbsp;&nbsp;
                            <input type="button" class="btn btn-info" value="Cancel" (click)="onCancel()"/>
                        </td>
                    </tr>
                </table>
                <br>
            </form>
        </div>
    </div>
</div>